@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');
@import "tailwindcss";


/* 
@theme{ 
  --color-nicaBlue: oklch(0.23 0.15 238);
  --color-nicaRed: oklch(0.43 0.2 25);
  --color-nicaGreen: oklch(0.52 0.18 140);
  --color-nicaYellow: oklch(0.92 0.15 90);
} */